<html>
    <head>
        <title>Productos</title>
    </head>
    <body>
          <h1>Productos</h1>

          <form action="/publicar" method="POST">
            Item: <input type="text" name="item">
            <br/>
            Price: <input type="number" name="price">
            <br/>
            Shipping: <input type="text" name="shipping">
            <br/>
            Seller: <input type="text" name="seller">
            <br/>
            Stock: <input type="number" name="stock">
            <br/>
            <input type="submit">
          </form>
    </body>
</html>