<!DOCTYPE html>
<html ng-app = "flvStore">
<header>
	  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="style.css" />
       <script type="text/javascript" src="angular.min.js"></script>
       <script type="text/javascript" src="app.js"></script>
       <script type="text/javascript" src="products.js"></script>
</header>
<body ng-controller = "flvStoreController as store">
	<img src="./images/logo.JPG" alt="logo">
	<div ng-controller="TabController as tab" class="container">
	 <ul class="nav nav-pills">
			<li ng-class="{ active:tab.isSet(1) }">
				<a href="" ng-click="tab.setTab(1)">Create Product</a>
			</li>
			<li ng-class="{ active:tab.isSet(2) }">
				<a href="" ng-click="tab.setTab(2)">List of Products</a>
			</li>
	</ul>
	<!--Formulario para productos-->
	<div ng-show="tab.isSet(1)" class="border-form-div">
	   <label>Item name:</label> <INPUT type="text" name="name"><BR><BR>
	   <label>Price:</label> <INPUT type="number" name="price"><BR><BR>
       <label>Shipping:</label> <INPUT type="text" name="shipping" ><BR><BR>
	   <label>Seller:</label> <INPUT type="text" name="seller" ><BR><BR>
       <label>Stock:</label> <INPUT type="number" name="stock"><BR><BR>
       <input type="submit" value="Publicar" class ='btn btn-primary'>
	</div>
	<div ng-show="tab.isSet(2)" class="list-group">
		<div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
			   <h3>Producto #{{$index + 1}}: {{product.name | uppercase}}<em class="pull-right">{{product.price | currency}}</em>
        </h3>
		</div>

	</div>
</div>

</body>
</html>