.ng-invalid.ng-dirty{
    border-color: #FA787E;
}
.ng-valid.ng-dirty{
    border-color: #78FA89;
}
label{
	width: 80px;
}
.border-form-div {
  max-width: 350px;
  padding: 19px 29px 29px;
  margin: 50px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
body{
	padding: 0;
	margin: 0;
}
.border-form-div input[type="text"],input[type="number"]{
  font-size: 16px;
  height: 40px;
  width: 150px;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.tabs{
	margin: 0;
	padding: 0;
}
.nav-pills{
	margin: 0;
	background-color: #8AC007;
	padding: 0;
	border-bottom-style: solid;
	border-bottom-color: #545453;
	border-width: 1px;

}
.container{
	margin: 0;
}
.nav-pills li{
	margin: 0;
}
.nav-pills li a {
	color: white;
	font-weight: 700;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	border-radius: 0;
}
.btn-primary{
	background-color: #555555;
	border-color: #555555;

}
.btn-primary:hover{
	background-color: #A8A8A8;
	border-color: #555555;
}
.nav-pills li a:hover{
	background-color: white;
	color: #8AC007;
	opacity: 0.7;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus,
 .nav-pills>li.active>a:hover{
 	color: #8AC007;
 	background-color: #ffffff;
 }